:root {
  --font-family: "Montserrat", sans-serif;
  --content-width: 1440px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --blue-color: #0f33ff;
  --dark-color: #0b0c0c;
  --gray-color: #555;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
  height: 100vh;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

body {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.container_burger-active {
  -webkit-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  outline: 20px solid var(--blue-color);
}

header {
  min-height: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .header__logo img {
  margin-right: 10px;
}
header .header__logo span {
  color: var(--light-color);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
header .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
header .burger .burger__container {
  --burger-width: 25px;
  --burger-height: 15px;
  --burger-line-height: 2px;
  padding: 0;
  position: relative;
  width: var(--burger-width);
  height: var(--burger-height);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  color: var(--light-color);
}
header .burger .burger__container::before, header .burger .burger__container::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
header .burger .burger__container::before {
  top: 0;
}
header .burger .burger__container::after {
  top: calc(100% - var(--burger-line-height));
}
header .burger .burger__container span {
  width: 70%;
  height: var(--burger-line-height);
  background-color: var(--light-color);
}
header .btn {
  padding: 5px 20px;
  background-color: var(--blue-color);
  color: var(--light-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 94%;
}

.side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100px;
  position: absolute;
  left: 40px;
  top: 0;
}
@media (max-width: 1181px) {
  .side-nav {
    display: none;
  }
}
.side-nav .side-nav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 66%;
  padding: 50px 0px;
  border-left: 1px solid rgba(85, 85, 85, 0.7);
}
.side-nav .side-nav__list li {
  color: var(--light-color);
  margin-left: 14px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.side-nav .side-nav__list li.active {
  color: var(--blue-color);
}
.side-nav .side-nav__list li.active span {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.side-nav .side-nav__list li.active::before {
  left: -50px;
  color: var(--light-color);
}
.side-nav .side-nav__list li::before {
  position: absolute;
  top: 0px;
  left: 0;
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}
.side-nav .side-nav__list li span {
  color: var(--light-color);
  opacity: 0;
}
.side-nav .side-nav__list li:nth-child(1)::before {
  content: "01";
}
.side-nav .side-nav__list li:nth-child(2)::before {
  content: "02";
}
.side-nav .side-nav__list li:nth-child(3)::before {
  content: "03";
}
.side-nav .side-nav__list li:nth-child(4)::before {
  content: "04";
}
.side-nav .side-nav__list li:nth-child(5)::before {
  content: "05";
}

.content-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content-list .content-list__page {
  display: none;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 900px;
}
@media (max-width: 900px) {
  .content-list .content-list__page {
    width: 100%;
  }
}
.content-list .content-list__page .home h1 {
  color: var(--light-color);
  text-align: center;
  font-size: 68px;
  font-weight: 800;
  line-height: 1;
}
@media (max-width: 1024px) {
  .content-list .content-list__page .home h1 {
    font-size: 55px;
  }
}
@media (max-width: 768px) {
  .content-list .content-list__page .home h1 {
    font-size: 44px;
  }
}
.content-list .content-list__page .home .home__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content-list .content-list__page .home .home__intro::before {
  position: absolute;
  content: "";
  background-color: var(--gray-color);
  width: 100%;
  height: 2px;
  bottom: 5px;
  left: 0px;
}
.content-list .content-list__page .home .home__intro::after {
  position: absolute;
  content: "";
  background-color: var(--blue-color);
  width: 30px;
  height: 4px;
  bottom: 4px;
  left: 20px;
}
@media (max-width: 576px) {
  .content-list .content-list__page .home .home__intro img {
    display: none;
  }
}
.content-list .content-list__page .home .home__msg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 0 15px;
}
@media (max-width: 768px) {
  .content-list .content-list__page .home .home__msg {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
@media (max-width: 576px) {
  .content-list .content-list__page .home .home__msg {
    grid-gap: 20px;
  }
}
.content-list .content-list__page .home .home__msg .msg__txt h3, .content-list .content-list__page .home .home__msg .msg__txt p {
  overflow-wrap: break-word;
  font-size: 14px;
  color: #282828;
  font-weight: 700;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  margin: 0;
}
.content-list .content-list__page .home .home__msg .msg__txt h3 {
  font-size: 16px;
  margin: 15px 0;
}
.content-list .content-list__page .home .home__msg .msg__txt:hover h3, .content-list .content-list__page .home .home__msg .msg__txt:hover p {
  color: var(--light-color);
}
.content-list .content-list__page .swiper {
  position: relative;
}
.content-list .content-list__page .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content-list .content-list__page .swiper .swiper-wrapper .swiper-slide {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 400px;
}
.content-list .content-list__page .swiper .swiper-wrapper .swiper-slide .swiper-slide__container {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid rgba(85, 85, 85, 0.7);
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.content-list .content-list__page .swiper .swiper-wrapper .swiper-slide .swiper-slide__container img {
  height: 250px;
}
@media (max-width: 576px) {
  .content-list .content-list__page .swiper .swiper-wrapper .swiper-slide .swiper-slide__container img {
    height: 150px;
  }
}
.content-list .content-list__page .swiper .swiper-wrapper .swiper-slide .swiper-slide__container h3 {
  text-align: center;
  color: var(--light-color);
  font-weight: 600;
  font-size: 25px;
  margin: 10px 0;
}
@media (max-width: 576px) {
  .content-list .content-list__page .swiper .swiper-wrapper .swiper-slide .swiper-slide__container h3 {
    font-size: 16px;
  }
}
.content-list .content-list__page .swiper .swiper-wrapper .swiper-slide .swiper-slide__container .swiper-slide__descr {
  border-top: 1px solid rgba(85, 85, 85, 0.7);
}
.content-list .content-list__page .swiper .swiper-wrapper .swiper-slide .swiper-slide__container .swiper-slide__descr p {
  margin: 0;
  padding: 15px;
  color: var(--light-color);
  font-weight: 400;
  font-size: 14px;
}
.content-list .content-list__page .swiper .swiper-wrapper .swiper-slide-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.content-list .content-list__page .UI-kit__container {
  display: -ms-grid;
  display: grid;
}
.content-list .content-list__page .UI-kit__container .buttons_container {
  height: 200px;
  width: 300px;
  border: 2px solid #555;
  border-radius: 20px;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 15px;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnCustom {
  background-color: transparent;
  margin: 0;
  color: var(--light-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 5px;
  border: none;
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnCustom::before {
  content: "";
  z-index: -1;
  width: 75%;
  height: 100%;
  background-color: var(--blue-color);
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnCustom:hover::before {
  width: 100%;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnCustom:active {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnNeon {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: var(--blue-color);
  border: var(--blue-color) 0.125em solid;
  padding: 5px;
  border-radius: 0.25em;
  background-color: transparent;
  text-shadow: 0 0 0.125em hsla(0deg, 0%, 100%, 0.3), 0 0 0.45em currentColor;
  -webkit-box-shadow: inset 0 0 0.5em 0 var(--blue-color), 0 0 0.5em 0 var(--blue-color);
  box-shadow: inset 0 0 0.5em 0 var(--blue-color), 0 0 0.5em 0 var(--blue-color);
  position: relative;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnNeon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 1em 0.5em var(--blue-color);
  box-shadow: 0 0 1em 0.5em var(--blue-color);
  opacity: 0;
  background-color: var(--blue-color);
  z-index: -1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnNeon:hover {
  color: var(--dark-color);
  text-shadow: none;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnNeon:hover::after {
  opacity: 1;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnNeon:active {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnTranparentNeon {
  padding: 5px;
  background-color: transparent;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1rem;
  border-color: var(--blue-color);
  color: #fff;
  -webkit-box-shadow: 0 0 10px 40px var(--blue-color) inset, 0 0 0 0 var(--blue-color);
  box-shadow: 0 0 10px 40px var(--blue-color) inset, 0 0 0 0 var(--blue-color);
  -webkit-transition: -webkit-box-shadow 150ms ease-in-out;
  transition: -webkit-box-shadow 150ms ease-in-out;
  -o-transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnTranparentNeon:hover {
  -webkit-box-shadow: 0 0 10px 0 var(--blue-color) inset, 0 0 10px 4px var(--blue-color);
  box-shadow: 0 0 10px 0 var(--blue-color) inset, 0 0 10px 4px var(--blue-color);
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnTranparentNeon:active {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnFigure {
  position: relative;
  padding: 5px;
  background-color: transparent;
  display: block;
  color: var(--light-color);
  font-size: 1rem;
  border: 2px solid var(--blue-color);
  text-transform: uppercase;
  overflow: hidden;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnFigure::before {
  width: 200%;
  height: 0%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--blue-color);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnFigure:hover::before {
  height: 380%;
}
.content-list .content-list__page .UI-kit__container .buttons_container .btnFigure:active {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
.content-list .content-list__page .UI-kit__container .checkbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  padding-left: 40px;
  border: 2px solid #555;
  border-radius: 20px;
  width: 300px;
  height: 150px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--light-color);
  font-size: 20px;
  font-weight: 600;
}
.content-list .content-list__page .UI-kit__container .checkbox__container .check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.content-list .content-list__page .UI-kit__container .checkbox__container .check__box {
  position: absolute;
  margin-top: 0.2em;
  margin-left: -1em;
  width: 0.6em;
  height: 0.6em;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-shadow: 0 0 0 0.1em var(--blue-color);
  box-shadow: 0 0 0 0.1em var(--blue-color);
}
.content-list .content-list__page .UI-kit__container .checkbox__container .check__input:checked + .check__box {
  background-color: var(--blue-color);
  background-image: url(/img/check.svg);
}
.content-list .content-list__page .UI-kit__container .checkbox__container .check__input:focus + .check__box {
  -webkit-box-shadow: 0 0 0 0.1em var(--blue-color), 0 0 0 0.2em #7ED321;
  box-shadow: 0 0 0 0.1em var(--blue-color), 0 0 0 0.2em #7ED321;
}
.content-list .content-list__page .UI-kit__container .checkbox__container .check__input:disabled + .check__box {
  -webkit-box-shadow: 0 0 0 0.1em #9B9B9B;
  box-shadow: 0 0 0 0.1em #9B9B9B;
}
.content-list .content-list__page .UI-kit__container .checkbox__container .check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
}
.content-list .content-list__page .UI-kit__container .select {
  width: 300px;
  position: relative;
  z-index: 100;
  color: var(--light-color);
  font-size: 20px;
  font-weight: 600;
}
.content-list .content-list__page .UI-kit__container .select.open .select__dropdown {
  display: block;
  border-radius: 0px 0px 20px 20px;
}
.content-list .content-list__page .UI-kit__container .select.open .select__input {
  border-bottom: none;
  border-radius: 20px 20px 0px 0px;
}
.content-list .content-list__page .UI-kit__container .select.open .select__backdrop {
  display: block;
}
.content-list .content-list__page .UI-kit__container .select__input {
  border: 2px solid #555;
  border-radius: 20px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1rem;
  cursor: pointer;
}
.content-list .content-list__page .UI-kit__container .select__dropdown {
  display: none;
  position: absolute;
  border: 2px solid #555;
  border-radius: 20px;
  top: 46px;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}
.content-list .content-list__page .UI-kit__container .select__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.content-list .content-list__page .UI-kit__container .select__backdrop {
  position: fixed;
  display: none;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
}
.content-list .content-list__page .UI-kit__container .select__item {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.content-list .content-list__page .UI-kit__container .select__item.selected {
  background-color: var(--blue-color);
}
.content-list .content-list__page .UI-kit__container .select__item:hover {
  background-color: var(--blue-color);
  cursor: pointer;
  -webkit-transition: 0.15s background-color ease-in;
  -o-transition: 0.15s background-color ease-in;
  transition: 0.15s background-color ease-in;
}
.content-list .content-list__page .UI-kit__container .select .fa-chevron-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: var(--blue-color) transparent transparent transparent;
}
.content-list .content-list__page .UI-kit__container .select .fa-chevron-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent var(--blue-color) transparent;
}
.content-list .content-list__page_active {
  display: block;
}
.content-list .content-list__page_shown {
  opacity: 1;
}

.nav-bar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 50%;
  left: 55%;
  visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
}
.nav-bar .nav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-bar .nav__list .nav__item {
  color: var(--light-color);
  font-size: 65px;
  font-weight: 800;
  position: relative;
  cursor: pointer;
}
.nav-bar .nav__list .nav__item:not(:last-child) {
  margin-bottom: 20px;
}
.nav-bar .nav__list .nav__item_active::before {
  position: absolute;
  content: "";
  background-color: var(--blue-color);
  width: 120%;
  height: 20%;
  bottom: 38%;
  left: -10%;
}
@media (max-width: 1024px) {
  .nav-bar .nav__list .nav__item {
    font-size: 55px;
  }
}
@media (max-width: 768px) {
  .nav-bar .nav__list .nav__item {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .nav-bar .nav__list .nav__item {
    font-size: 35px;
  }
}
.nav-bar_active {
  visibility: visible;
}
.nav-bar_active .nav__list {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */