
<nav class="side-nav">
    <ul class="side-nav__list">
      <li class="active"><span>Home</span></li>
      <li><span>Slider</span></li>
      <li><span>Home</span></li>
      <li><span>Home</span></li>
      <li><span>Home</span></li>
    </ul>
  </nav>
  <div class="main-content" onmousedown="return false" onselectstart="return false">

  <ul class="content-list">
    <li class="content-list__page content-list__page_active content-list__page_shown">
      <section class="home">
        <div class="home__intro">
          <h1>Welcome to the <br> WebSite!</h1>
        <picture>
          <source srcset="img/introduction-visual.avif" type="image/avif">
          <source srcset="img/introduction-visual.webp" type="image/webp">
          <img loading="lazy" src="img/introduction-visual.png" class="image" alt="">
        </picture>
        </div>
        <div class="home__msg">
          <div class="msg__txt">
            <h3>Interactive design</h3>
            <p>The site was created with the idea of interactive design to demonstrate the capabilities of the developer</p>
          </div>
          <div class="msg__txt">
            <h3>Adaptive Layout</h3>
            <p>The site has Adaptive Layout to demonstrate the capabilities of the developer</p>
          </div>
          <div class="msg__txt">
            <h3>Interactive design</h3>
            <p>The site was created with the idea of interactive design to demonstrate the capabilities of the developer</p>
          </div>
        </div>
      </section>
    </li>
    <li class="content-list__page">
      <div class="swiper">
        <div class="swiper-wrapper">
           <div class="swiper-slide">
              <div class="swiper-slide__container">
                <picture>
                  <source srcset="img/shp1.avif" type="image/avif">
                  <source srcset="img/shp1.webp" type="image/webp">
                  <img loading="lazy" src="img/shp1.png" class="image" alt="spaceship">
                </picture>
                <h3>Star Destroyer</h3>
                <div class="swiper-slide__descr">
                <p>A Star Destroyer was a dagger-shaped type of capital ship that were used by the Galactic Republic, the Galactic Empire, the First Order, and the Sith Eternal. Notable examples of Star Destroyers include the Imperial-class Star Destroyer and its predecessor, the Venator-class Star Destroyer.</p>
                </div>
              </div>
           </div>
           <div class="swiper-slide">
            <div class="swiper-slide__container">
              <picture>
                <source srcset="img/shp2.avif" type="image/avif">
                <source srcset="img/shp2.webp" type="image/webp">
                <img loading="lazy" src="img/shp2.png" class="image" alt="spaceship">
              </picture>
              <h3>Spaceship №2</h3>
              <div class="swiper-slide__descr">
              <p>A Star Destroyer was a dagger-shaped type of capital ship that were used by the Galactic Republic, the Galactic Empire, the First Order, and the Sith Eternal. Notable examples of Star Destroyers include the Imperial-class Star Destroyer and its predecessor, the Venator-class Star Destroyer.</p>
              </div>
            </div>
         </div>
         <div class="swiper-slide">
          <div class="swiper-slide__container">
            <picture>
              <source srcset="img/shp3.avif" type="image/avif">
              <source srcset="img/shp3.webp" type="image/webp">
              <img loading="lazy" src="img/shp3.png" class="image" alt="spaceship">
            </picture>
            <h3>Spaceship №1</h3>
            <div class="swiper-slide__descr">
            <p>A Star Destroyer was a dagger-shaped type of capital ship that were used by the Galactic Republic, the Galactic Empire, the First Order, and the Sith Eternal. Notable examples of Star Destroyers include the Imperial-class Star Destroyer and its predecessor, the Venator-class Star Destroyer.</p>
            </div>
          </div>
       </div>
       <div class="swiper-slide">
        <div class="swiper-slide__container">
          <picture>
            <source srcset="img/shp4.avif" type="image/avif">
            <source srcset="img/shp4.webp" type="image/webp">
            <img loading="lazy" src="img/shp4.png" class="image" alt="spaceship">
          </picture>
          <h3>Spaceship №1</h3>
          <div class="swiper-slide__descr">
          <p>A Star Destroyer was a dagger-shaped type of capital ship that were used by the Galactic Republic, the Galactic Empire, the First Order, and the Sith Eternal. Notable examples of Star Destroyers include the Imperial-class Star Destroyer and its predecessor, the Venator-class Star Destroyer.</p>
          </div>
        </div>
     </div>

        </div>
      </div>
    </li>
  </ul>

</div>
